# Output files
*.o
*.ppu

# Build files
build/*.exe
build/GocciaJSON5Check
build/main
build/REPL
build/ScriptLoader
build/TestRunner
build/BenchmarkRunner
build/*.Test

# Mac OS files
.DS_Store

# Node modules
node_modules/

scripts/__pycache__/

tests-wasm/*.wasm
